{% extends "padre.html" %}

{% load static %}


{% block titulo %}
    <h1>Bienvenido a los Modelos</h1>
{% endblock %}


{% block contenido_que_cambia %}

<section class="showcase">
    <div class="container-fluid p-2">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Formulario:</h2>
                <p class="lead mb-0">Complete los campos, para agregar un curso.</p>
                <div id="main-container">
                    <table>
                        <form action="" method="post">
                            <table>
                                {{ form }}
                                {% csrf_token %}
                            </table>
                            
                            <table>
                                <input type="submit" value="Agregar"/>
                            </table>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>   

<section class="showcase">
    <div class="container-fluid p-2">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Post:</h2>
                <h2>{{ mensaje }}</h2>
                <div id="main-container">
                    <table>
                        {% if modelos %}
                        <tr>
                            <th>titulo</th>
                            <th>imagen</th>
                            <th>diseño</th>
                            <th>descripcion</th>
                            <th>fechaPost</th>
                            <th>Opciones</th>
                        </tr>
                        
                        {% for modelo in modelos %}
                        <tr>
                            <tr>
                                <td>
                                    {{modelo.titulo}}
                                </td>
                                <td>
                                    <img src="{{modelo.imagen.url}}" style="width:720px;height:480px;" alt="">
                                </td>
                                <td>
                                    {{modelo.diseño}}
                                </td>
                                <td>
                                    {{modelo.descripcion}}
                                </td>
                                <td>
                                    {{modelo.fechaPost}}
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="{% url 'eliminarModelo' modelo.id %}">Eliminar</a>
                                    <a class="btn btn-danger" href="{% url 'editarModelo' modelo.id %}">Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                        {% else %}
                        
                        <td>No se ha encontrado ningun modelo</td>
                        
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>   


{% endblock %}