{% extends "padre.html" %}

{% load static %}

{% block contenido_que_cambia %}

<section class="showcase">
    <div class="container-fluid p-2">
        <div class="row g-0">
            <div class="col-lg-4 order-lg-2 my-auto showcase-text">
                <div id="main-container">                        
                    <table>                           
                        <tbody>
                            <tr>
                                <th>
                                    <h1>Usuario:{{usu}}</h1>
                                </th>
                                <th>Descripcion</th>
                            </tr>
                            
                            <td>
                                <img src="{{ avatar }}" alt="Avatar" style="width:200px;height:200px;">
                            </td>
                            {% for dato in perfil %}
                            <td>{{dato.text}}</td>
                            {% endfor %}
                            
                            <td>
                                <a class="btn btn-danger" href="{% url 'perfilEdit' %}">Editar Descripcion</a>
                            </td>
                        </tbody>
                    </table>                
                </div>
            </div>
        </div>
    </div>
</section>   

{% endblock %}