{% extends "padre.html" %}

{% load static %}

{% block contenido_que_cambia %}

<section class="showcase">
    <div class="container-fluid p-2">
        <div class="row g-0">
            <div class="col-lg-4 order-lg-2 my-auto showcase-text">
                <div id="main-container">                        
                    <table>                           
                        <tbody>
                            <tr>
                                <th>
                                    <h1>Usuario:{{usu}}</h1>
                                </th>
                                <th>Descripcion</th>
                            </tr>
                            
                            <td>
                                <img src="{{ avatar }}" alt="Avatar" style="width:200px;height:200px;">
                            </td>
                            {% for dato in perfil %}
                            <td>{{dato.text}}</td>
                            {% endfor %}
                            
                            <td>
                                <a class="btn btn-danger" href="{% url 'perfilEdit' %}">Editar Descripcion</a>
                            </td>
                        </tbody>
                    </table>                
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container-fluid p-2">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Post:</h2>
                <div id="main-container">
                    <table>
                        {% if modelos %}
                        <tr>
                            <th>Usuario</th>
                            <th>titulo</th>
                            <th>imagen</th>
                            <th>diseño</th>
                            <th>descripcion</th>
                            <th>fechaPost</th>
                            <th>Opciones</th>
                            <th>Comentarios</th>
                        </tr>

                        {% for modelo in modelos %}
                            <tr>
                                <td>
                                    {{modelo.user}}
                                </td>
                                <td>
                                    {{modelo.titulo}}
                                </td>
                                <td>
                                    <img src="{{modelo.imagen.url}}" style="width:720px;height:480px;" alt="">
                                </td>
                                <td>
                                    {{modelo.diseño}}
                                </td>
                                <td>
                                    {{modelo.descripcion}}
                                </td>
                                <td>
                                    {{modelo.fechaPost}}
                                </td>
                                <td>
                                    {% if user == modelo.user %}
                                    <a class="btn btn-danger" href="{% url 'eliminarModelo' modelo.id %}">Eliminar</a>
                                    <a class="btn btn-danger" href="{% url 'editarModelo' modelo.id %}">Editar</a>
                                    {% else %}
                                    {% endif %}
                                    <a class="btn btn-danger" href="{% url 'comentarios' %}">Comentarios</a>
                                </td>
                                
                                {% if comentario %}
                                    
                                    {% for dato in comentario %}
                                        <th>{{dato.texto}}</th>
                                    {% endfor %}
                                    
                                {% else %}
                                <td>
                                    No hay comentarios
                                </td>

                                {% endif %}
                            </tr>

                        {% endfor %}
                        {% else %}
                        
                        <td>
                            No se ha encontrado ningun posteo
                            <a class="btn btn-primary" href="{% url 'modelos' %}">Subir posteo</a>
                        </td>
                        
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>   

{% endblock %}